iOSLite.xcodeproj/xcuserdata/nixta.xcuserdatad
UserInterfaceState.xcuserstate
esriQuickStartApp.xcodeproj/xcuserdata/nixta.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
esriQuickStartApp.xcodeproj/xcuserdata/nixta.xcuserdatad/xcschemes/iOSLite.xcscheme
esriQuickStartApp.xcodeproj/xcuserdata/nixta.xcuserdatad/xcschemes/iOSLiteLib.xcscheme
esriQuickStartApp.xcodeproj/xcuserdata/nixta.xcuserdatad/xcschemes/xcschememanagement.plist
