<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultScaleLevels</key>
	<dict>
		<key>1</key>
		<real>591657550.5</real>
		<key>2</key>
		<real>295828775.3</real>
		<key>3</key>
		<real>147914387.6</real>
		<key>4</key>
		<real>73957193.81999999</real>
		<key>5</key>
		<real>36978596.91</real>
		<key>6</key>
		<real>18489298.45</real>
		<key>7</key>
		<real>9244649.227</real>
		<key>8</key>
		<real>4622324.614</real>
		<key>9</key>
		<real>2311162.307</real>
		<key>10</key>
		<real>1155581.153</real>
		<key>11</key>
		<real>577790.5767</real>
		<key>12</key>
		<real>288895.2884</real>
		<key>13</key>
		<real>144447.6442</real>
		<key>14</key>
		<real>72223.82209</real>
		<key>15</key>
		<real>36111.91104</real>
		<key>16</key>
		<real>18055.95552</real>
		<key>17</key>
		<real>9027.977761</real>
		<key>18</key>
		<real>4513.98888</real>
		<key>19</key>
		<real>2256.99444</real>
		<key>20</key>
		<real>1128.49722</real>
	</dict>
	<key>DefaultScaleLevel</key>
	<string>11</string>
	<key>Basemaps</key>
	<dict>
		<key>Street</key>
		<string>d8855ee4d3d74413babfb0f41203b168</string>
		<key>Satellite</key>
		<string>86de95d4e0244cba80f0fa2c9403a7b2</string>
		<key>Canvas</key>
		<string>8b3b470883a744aeb60e5fff0a319ce7</string>
		<key>National Geographic</key>
		<string>509e2d6b034246d692a461724ae2d62c</string>
		<key>Topographic</key>
		<string>6e03e8c26aad4b9c92a87c1063ddb0e3</string>
		<key>OpenStreetMap</key>
		<string>5d2bfa736f8448b3a1708e1f6be23eed</string>
		<key>Hybrid</key>
		<string>413fd05bbd7342f5991d5ec96f4f8b18</string>
	</dict>
	<key>BasemapURLs</key>
	<dict>
		<key>Street</key>
		<string>http://services.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer</string>
		<key>Satellite</key>
		<string>http://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer</string>
		<key>Canvas</key>
		<string>http://services.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Light_Gray_Base/MapServer</string>
		<key>National Geographic</key>
		<string>http://services.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer</string>
		<key>Topographic</key>
		<string>http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer</string>
		<key>OpenStreetMap</key>
		<string>N/A</string>
		<key>Hybrid</key>
		<array>
			<string>http://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer</string>
			<string>http://services.arcgisonline.com/ArcGIS/rest/services/Reference/World_Transportation/MapServer</string>
		</array>
	</dict>
</dict>
</plist>
