<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Geolocation</key>
	<dict>
		<key>title</key>
		<string>Zoom to current location</string>
		<key>codeSnippet</key>
		<string>- (IBAction)findMe:(id)sender
{
	[self.mapView centerAtMyLocationWithScaleLevel:15];
}</string>
		<key>highlightedLines</key>
		<string>3</string>
	</dict>
	<key>Basemaps</key>
	<dict>
		<key>title</key>
		<string>Setting and changing basemaps</string>
		<key>codeSnippet</key>
		<string>- (void)viewDidLoad
{
    [super viewDidLoad];

	// Set up our map with a basemap, and jump to a location and scale level.
    [self.mapView setBasemap: EQSBasemapTypeTopographic];
    [self.mapView centerAtLat:40.7302 Lon:-73.9958 withScaleLevel:13];
}</string>
		<key>highlightedLines</key>
		<string>6,7</string>
	</dict>
	<key>Directions</key>
	<dict>
		<key>title</key>
		<string>Get Directions and display them on the map</string>
		<key>codeSnippet</key>
		<string>- (void) getDirections
{
	[self.mapView.geoServices findDirectionsFrom:self.routeStartPoint 
	                                          To:self.routeEndPoint];
}

- (void) didSolveRouteOK:(NSNotification *)notification
{
	AGSRouteTaskResult *results = [notification routeTaskResults];

	if (results)
	{
		[self.mapView.routeDisplayHelper showRouteResults:results];
	}
}




// Call from viewDidLoad to register our listener (see above) for route notifications
- (void)registerForGeoServicesNotifications
{
	[[NSNotificationCenter defaultCenter] addObserver:self
											 selector:@selector(didSolveRouteOK:)
												 name:kEQSGeoServicesNotification_FindRoute_OK
											   object:self.mapView.geoServices];
}</string>
		<key>highlightedLines</key>
		<string>3,4,9,13,23,24,25,26</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>title</key>
		<string>Create and edit Graphics</string>
		<key>codeSnippet</key>
		<string>- (IBAction)newPgGraphic:(id)sender {
    [self.mapView createAndEditNewPolygon];
}

- (IBAction)doneEditingGraphic:(id)sender {
    [self.mapView saveCurrentEdit];
}

- (IBAction)cancelEditingGraphic:(id)sender {
    [self.mapView cancelCurrentEdit];
}

- (IBAction)undoEditingGraphic:(id)sender {
    [[self.mapView getUndoManagerForGraphicsEdits] undo];
}

- (IBAction)redoEditingGraphic:(id)sender {
    [[self.mapView getUndoManagerForGraphicsEdits] redo];
}</string>
		<key>highlightedLines</key>
		<string>2,6,10,14,18</string>
	</dict>
	<key>FindPlace</key>
	<dict>
		<key>title</key>
		<string>Find an address or place (including POI)</string>
		<key>codeSnippet</key>
		<string>- (void)searchBarSearchButtonClicked:(UISearchBar *)searchBar
{
	NSString *searchString = searchBar.text;
	[self.mapView.geoServices findPlaces:searchString];
}</string>
		<key>highlightedLines</key>
		<string>4</string>
	</dict>
	<key>Data</key>
	<dict>
		<key>title</key>
		<string>Add and interrogate spatial data stored remotely</string>
		<key>codeSnippet</key>
		<string>// Nothing yet…</string>
		<key>highlightedLines</key>
		<string></string>
	</dict>
</dict>
</plist>
