/*body {
    background-color: white;
    color: black;
    font-size: 9pt;
    font-family:sans-serif;
}

a
{
    color: #aaF;
    font-weight: bold;
}*/

/*
*
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}*/