<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Geolocation</key>
	<dict>
		<key>title</key>
		<string>Zoom to current location</string>
		<key>codeSnippet</key>
		<string>- (IBAction)findMe:(id)sender
{
	[self.mapView centerAtMyLocationWithScaleLevel:15];
}</string>
		<key>highlightedLines</key>
		<string>3</string>
	</dict>
	<key>Basemaps</key>
	<dict>
		<key>title</key>
		<string>Setting and changing basemaps</string>
		<key>codeSnippet</key>
		<string>- (void)viewDidLoad
{
    [super viewDidLoad];

	// Set up our map with a basemap, and jump to a location and scale level.
    self.mapView.basemap = EQSBasemapTypeTopographic;
    [self.mapView centerAtLat:40.7302 Lon:-73.9958 withScaleLevel:13];
}</string>
		<key>highlightedLines</key>
		<string>6,7</string>
	</dict>
	<key>Directions</key>
	<dict>
		<key>title</key>
		<string>Get Directions and display them on the map</string>
		<key>codeSnippet</key>
		<string>- (void) getDirections
{
	[self.mapView.geoServices findDirectionsFrom:self.routeStartPoint 
	                                          To:self.routeEndPoint];
}

- (void) didSolveRouteOK:(NSNotification *)n
{
	[self.mapView.routeDisplayHelper showRouteResult:n.routeTaskResults];
}

- (void) didFailToSolveRoute:(NSNotification *)n
{
	NSLog(@&quot;Failed to solve route: %@&quot;, n.geoServicesError);
}

// Call from viewDidLoad to register our listener (see above) for route notifications
- (void)registerForGeoServicesNotifications
{
	[self.mapView.geoServices registerHandler:self
					 forFindDirectionsSuccess:@selector(didSolveRouteOK:)
								   andFailure:@selector(didFailToSolveRoute:)];
}</string>
		<key>highlightedLines</key>
		<string>3,4,9,14,20,21,22</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>title</key>
		<string>Create and edit Graphics</string>
		<key>codeSnippet</key>
		<string>- (IBAction)newPgGraphic:(id)sender {
    [self.mapView createAndEditNewPolygon];
}

- (IBAction)doneEditingGraphic:(id)sender {
    [self.mapView saveCurrentEdit];
}

- (IBAction)cancelEditingGraphic:(id)sender {
    [self.mapView cancelCurrentEdit];
}

- (IBAction)undoEditingGraphic:(id)sender {
    [self.mapView.undoManagerForGraphicsEdits undo];
}

- (IBAction)redoEditingGraphic:(id)sender {
    [self.mapView.undoManagerForGraphicsEdits redo];
}</string>
		<key>highlightedLines</key>
		<string>2,6,10,14,18</string>
	</dict>
	<key>FindPlace</key>
	<dict>
		<key>title</key>
		<string>Find an address or place (including POI)</string>
		<key>codeSnippet</key>
		<string>- (void)searchBarSearchButtonClicked:(UISearchBar *)searchBar
{
	NSString *searchString = searchBar.text;
	[self.mapView.geoServices findPlaces:searchString];
}

- (void) gotFindPlacesResults:(NSNotification *)n
{
    if (n.geoServicesOperation)
    {
        NSArray *candidates = n.findPlacesResultSortedByScore;
        if (candidates.count &gt; 0)
        {
            for (AGSLocatorFindResult *r in candidates)
			{
				// Add a graphic to the map for this result.
				AGSGraphic *g = r.graphic;
                g.symbol = self.mapView.defaultSymbols.findPlace;
                [self.mapView addGraphic:g];
            }
        }
        else
        {
            NSLog(@&quot;No results found!&quot;);
        }
    }
}

- (void) didFailToFindPlaces:(NSNotification *)n
{
	NSLog(@&quot;Failed to get candidates for address: %@&quot;, n.geoServicesError);
}

// Call from viewDidLoad to register our listener (see above) for find notifications
- (void)registerForGeoServicesNotifications
{
    [self.mapView.geoServices registerHandler:self
                         forFindPlacesSuccess:@selector(gotFindPlacesResults:)
                                   andFailure:@selector(didFailToFindPlaces:)];
}</string>
		<key>highlightedLines</key>
		<string>4,9,11,14,18,19,31,37,38,39</string>
	</dict>
	<key>Data</key>
	<dict>
		<key>title</key>
		<string>Add and interrogate spatial data stored remotely</string>
		<key>codeSnippet</key>
		<string>// Nothing yet…</string>
		<key>highlightedLines</key>
		<string></string>
	</dict>
</dict>
</plist>
